POSTGRES_DB=spotbook
POSTGRES_USER=spotbook
POSTGRES_PASSWORD=spotbook_secret
POSTGRES_PORT=5432
JWT_SECRET=dGhpcy1pcy1hLXZlcnktc2VjdXJlLTI1Ni1iaXQtbG9uZy1zZWNyZXQta2V5LXNwY2U=
SERVER_PORT=8080
FRONTEND_PORT=3000
